// breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

:root {
  @import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
  --font-family-titles: "Parisienne", cursive;
  --font-family: "Ubuntu", sans-serif;
  --font-size-small: 12px;

  --primary-color: #ff1c65;
  --header-bg: var(--primary-color);

  --home-link-color: #ff1c65;
  --home-link-hover-color: var(--primary-color);

  --button-color: #ffffff;
  --button-alternate-color: #ff0060;

  --post-link-color: #ff0060;

  --nav-link-hover-bg: #111;
  --text-color-meta: rgba(0, 0, 0, 0.5);

  --label-text: rgba(0, 0, 0, 0.5);
  --input-focus-border: #83aaac;

  // CSS Grid Utility
  --grid-gap: 30px;
}
